.spa-layout {
  display: flex;
  flex-direction: column;
  border: 1px solid navy;
  height: 100vh;
}

.spa-layout__header {
  flex: 1;
  max-height: 5vh;
  border: 1px solid lightblue;
}

.spa-layout__body {
  flex: 1;
  display: flex;
}

.spa-layout__navbar {
  flex: 1;
  max-width: 100px;
  max-height: 95vh;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}

.spa-layout__content {
  flex: 1;
  padding: 0 5px;
  border: 1px solid green;
}